@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #EAE0D5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.btn1 {
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Marcellus', serif;
}

.btn1:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
}

.btn1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
}

.btn--svg-small {
  height: 38px;
  color: #eae0d5;
  white-space: nowrap;
  background-color: #eae0d5;
  background-image: url(https://cdn.shopify.com/s/files/1/0514/6332/3817/t/22/assets/btn_small_bg.svg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  border: none;
  margin: 0 30px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  transition: 0.3s;
  cursor: pointer;
}

.btn--svg-small:hover{
  background-image: url(./Images/btn_small_bg_hover.svg);
}

.btn--svg-small:before {
  width: 21px;
  height: 38px;
  background-image: url(https://cdn.shopify.com/s/files/1/0514/6332/3817/t/22/assets/btn_small_left.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  left: -20px; 
  transition: 0.3s;
  cursor: pointer;
}

.btn--svg-small:hover:before{
  background-image: url(./Images/btn_small_left_hover.svg);
}

.btn--svg-small:after {
  width: 20px;
  height: 38px;
  background-image: url(https://cdn.shopify.com/s/files/1/0514/6332/3817/t/22/assets/btn_small_right.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  right: -20px;
  transition: 0.3s;
  cursor: pointer;
}

.btn--svg-small:hover:after{
  background-image: url(./Images/btn_small_right_hover.svg);
}

:before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Link {
  text-decoration: none;
}