  .filterItem {
    display: inline-block;
  }

  .dInherit{
    display: inherit;
  }

  .dInherit input {
    width: 5rem;
    margin: 0 2%;
    height: 50%;
  }

  .dInherit button{
    margin: 0 5%;
  }

  .caretIcon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.1rem; /* Adjust the margin as needed */
  }

  .customSelect option:not(:checked) {
    font-size: 0.8em;
    text-align: left;
  }
  .bgInput{
    background-color:#f2ece6 ;
  }
