.product-list table {
    width: 100%;
    border-collapse: collapse;
  }
  .product-list{
    border:0.1em solid black;
    border-radius: 0.2em;
  }
  .product-list thead{
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
    
  }
  
  .product-list td {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .product-list th{
    padding: 1em;
    text-align: left;
  }
  .product-list tbody tr:hover {
    background-color: #f5f5f5;
  }
  .product-list button{
    --space-x-reverse: 0;
    margin-right: calc(1rem*var(--space-x-reverse));
    margin-left: calc(1rem*(1 - var(--space-x-reverse)));
    color: black;
  }
